    body {
      font-family: tahoma;
      background-color: #E8E8E8;
      color: #333;
    }

    h1 {
      margin: 10px 20px 10px 20px;
    }
     #tudo {
      top:0px;
      position: relative;
      background: #87CEEB;
      margin: 0px 0 20px -390px;
      width: 950px;
      left:18%;
      
      border: 0px solid #aaa;
      margin-left:-10px;
     }
    #centro {
      top:-68px;
      position: relative;
      background: #87CEEB;
      margin: 0px 0 20px -390px;
      width: 950px;
      left:18%;
      
      border: 0px solid #aaa;
      margin-left:-10px;
      //borda arredondada
       -webkit-border-bottom-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
     //////////
     //borda sombreada
        box-shadow: 5px 4px 10px #828282;
       -moz-box-shadow: 5px 4px 10px #828282;
       -webkit-box-shadow: 5px 4px 10px #828282;
       -khtml-box-shadow: 5px 4px 10px #828282;
       -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#ccc,direction=120,strength=4)"; /* IE8+ */
       filter:progid:DXImageTransform.Microsoft.Shadow(color=#ccc,direction=120,strength=4); /* IE7 and lower */
       ///////
}
    #tudoCad {
        top:0px;
        position: relative;
        background: #87CEEB;
        margin: 0px 0 20px -390px;
        width: 950px;
        left:18%;
        border: 0px solid #aaa;
        margin-left:-10px;
        //borda arredondada
         -webkit-border-bottom-right-radius: 10px;
          -webkit-border-bottom-left-radius: 10px;
          -moz-border-radius-bottomright: 10px;
          -moz-border-radius-bottomleft: 10px;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
       //////////
       //borda sombreada
          box-shadow: 5px 4px 10px #828282;
         -moz-box-shadow: 5px 4px 10px #828282;
         -webkit-box-shadow: 5px 4px 10px #828282;
         -khtml-box-shadow: 5px 4px 10px #828282;
         -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#ccc,direction=120,strength=4)"; /* IE8+ */
         filter:progid:DXImageTransform.Microsoft.Shadow(color=#ccc,direction=120,strength=4); /* IE7 and lower */
         ///////
  }
  #tudo2 {
      top:0px;
      position: relative;
      background: #87CEEB;
      margin: 0px 0 20px -390px;
      width: 950px;
      left:18%;
      border: 0px solid #aaa;
      margin-left:-10px;
      //borda arredondada
       -webkit-border-bottom-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
     //////////
     //borda sombreada
        box-shadow: 5px 4px 10px #828282;
       -moz-box-shadow: 5px 4px 10px #828282;
       -webkit-box-shadow: 5px 4px 10px #828282;
       -khtml-box-shadow: 5px 4px 10px #828282;
       -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#ccc,direction=120,strength=4)"; /* IE8+ */
       filter:progid:DXImageTransform.Microsoft.Shadow(color=#ccc,direction=120,strength=4); /* IE7 and lower */
       ///////
}
.menu{
    font-family: tahoma;
    list-style:none; 
    border:1px solid #EEE5DE; 
    width:940px;
    float:left;
    margin-top:-10px;
    background: #EEE5DE;
    font-size: 15px;
   
}
.submenu{
    font-family: tahoma;
    border:1px solid #EEE5DE; 
    float:left;
    font-size: 14px;
  
}
legend#iUsu5 b{

    position:relative;
    left:260px;
    font-size: 17px;
    font-family: tahoma;
    
}

.menu li a{
    color:#CD6600; 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
    
}

.menu li a:hover{
    background:#4F4F4F;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.fundo{
    margin-top:-10px;
}
.meio{
    margin-left:240px;
    margin-top:100px;
    //arredondamento
    -webkit-border-radius: 35px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius: 35px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-radius: 35px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;

//sombra
box-shadow: 5px 5px 5px #6C7B8B;
   -webkit-box-shadow: 2px 2px 2px #ffc;
   -moz-box-shadow: 2px 2px 2px #ffc;
}
.tabelacursos{
     font-size:14px;
       position:relative;
       margin-left:20%;
       right:15%;
       top:20px;
       width: 850px;
}
.tabelacursoss{
     font-size:14px;
       position:relative;
       margin-left:40%;
       right:15%;
       top:20px;
       width: 500px;
}
.tabelacursosss{
     font-size:14px;
       position:relative;
       margin-left:30%;
       right:15%;
       top:20px;
       width: 680px;
}
.tabelacursossss{
       margin-left: 100px;
     font-size:16px;
       width: 600px;
    
}
.tabelaaluno{
     font-size:14px;
     font-family: tahoma;
       position:relative;
       margin-left:30%;
       right:23%;
       top:20px;
       width: 800px;
       background:#FAEBD7;
}
.tabelacursos1{
    width:12px;
}
.botaoAlterar{
    width:25px;
    height: 30px;
    margin-left:-5px;
}
.botaoConsulta{
   font-size: 16px;
    margin-top:35px;
    margin-left:15px;
    left:330px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: tahoma;
    	padding: 1px 3px;
	background: -moz-linear-gradient(
		top,
		#94e7f2 0%,
		#ffffff 50%,
		#f7d7af);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#94e7f2),
		color-stop(0.50, #ffffff),
		to(#f7d7af));
	border: 2px solid #dbdbdb;
	-moz-box-shadow:
		0px 1px 3px rgba(250,250,250,0.5),
		inset 0px 0px 3px rgba(240,240,240,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(250,250,250,0.5),
		inset 0px 0px 3px rgba(240,240,240,1);
	box-shadow:
		0px 1px 3px rgba(250,250,250,0.5),
		inset 0px 0px 3px rgba(240,240,240,1);
	text-shadow:
		0px -1px 0px rgba(046,042,046,0),
		0px 1px 0px rgba(255,255,255,1);
}
.botaoConsultaa{
   font-size: 16px;
    margin-top:-3px;
    margin-left:15px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: tahoma;
    	padding: 1px 3px;
	background: -moz-linear-gradient(
		top,
		#94e7f2 0%,
		#ffffff 50%,
		#f7d7af);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#94e7f2),
		color-stop(0.50, #ffffff),
		to(#f7d7af));
	border: 2px solid #dbdbdb;
	-moz-box-shadow:
		0px 1px 3px rgba(250,250,250,0.5),
		inset 0px 0px 3px rgba(240,240,240,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(250,250,250,0.5),
		inset 0px 0px 3px rgba(240,240,240,1);
	box-shadow:
		0px 1px 3px rgba(250,250,250,0.5),
		inset 0px 0px 3px rgba(240,240,240,1);
	text-shadow:
		0px -1px 0px rgba(046,042,046,0),
		0px 1px 0px rgba(255,255,255,1);
}
.meio2{
    margin-left:60px;
    margin-top:10px;
    font-family: tahoma;
     color:#4F4F4F;
    font-size: 15px;
}
.botaoCadastra{
    font-size: 16px;
    margin-top:25px;
    margin-left:15px;
    left:100px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: tahoma;
	padding: 1px 5px;
	background: -moz-linear-gradient(
		top,
		#94e7f2 0%,
		#ffffff 50%,
		#f7d7af);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#94e7f2),
		color-stop(0.50, #ffffff),
		to(#f7d7af));
	border: 2px solid #dbdbdb;
	-moz-box-shadow:
		0px 1px 3px rgba(250,250,250,0.5),
		inset 0px 0px 3px rgba(240,240,240,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(250,250,250,0.5),
		inset 0px 0px 3px rgba(240,240,240,1);
	box-shadow:
		0px 1px 3px rgba(250,250,250,0.5),
		inset 0px 0px 3px rgba(240,240,240,1);
	text-shadow:
		0px -1px 0px rgba(046,042,046,0),
		0px 1px 0px rgba(255,255,255,1);
}
.tabelaturmas{
    margin-top:20px;
    margin-left:55px;
    border: 0px solid ;
    width: 860px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-size:12px;
    font-family: tahoma;
    
}
.tabelaturmas1{
    margin-top:35px;
    margin-left:55px;
    border: 0px solid ;
    width: 860px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-size:12px;
    font-family: tahoma;
}
#centro legend#iUsu b{

    position:relative;
    left:370px;
    font-size: 17px;
    font-family: tahoma;
    color:#fff;
    
}
#centro legend#iUsu{
    background-color:#FF8C00;
    width: 947px;
  
}
legend#iUsu3 b{

    position:relative;
    left:55px;
    font-size: 12px;
    font-family: tahoma;
    color:#333;  
}
legend#iUsu3{
 
    width: 830px;
}
legend#iUsu4 b{

    position:relative;
    left:370px;
    font-size: 12px;
    font-family: tahoma;
    color:#333;  
}

legend#iUsu2 b{

    position:relative;
    left:370px;
    font-size: 17px;
    font-family: tahoma;
    color:#fff;  
}
legend#iUsu2{
    background-color:#2E8B57;
    width: 947px;
}
.meioTurmas{
    margin-top:5px;
    margin-left:70px;
    color:#4F4F4F;
        font-size: 15px;
}
.meioTurmas2{
    margin-top:-220px;
    margin-left:500px;
    color:#4F4F4F;
    font-size: 17px;
}
.tabela{
    color: #4F4F4F;
    background:#FAEBD7;
}
.tabela2{
    width: 30px;
    color: #4F4F4F;
    background:#FAEBD7;
}
.left{
    margin-left:55px;
}
.left4{
    margin-left:26px;
}
.leftC{
    margin-left:69px;
}
.leftP{
    margin-left:34px;
}
.leftMeio{
    margin-left:390px;
}
.leftMeio2{
    margin-left:155px;
}
.leftMeio3{
    margin-left:227px;
}
.leftMeio4{
    margin-left:90px;
}
.leftMeio5{
    margin-left:275px;
}
.leftMeio6{
    margin-left:355px;
}
.leftRg{
    margin-left:40px;
}
.leftTel{
   margin-left:5px;
}
.leftMeio7{
    margin-left:120px;
}
.leftMeioo{
    margin-left:95px;
}
.leftMeio8{
    margin-left:60px;
}
.leftMeio9{
    margin-left:220px;
}
.leftMeio10{
    margin-left:145px;
}
.leftMeio11{
    margin-left:387px;
}
.leftMeio12{
    margin-left:205px;
}
.leftMeio13{
    margin-left:300px;
}
.leftMeio20{
     margin-left:163px;
}
.leftMeio21{
     margin-left:180px;
}

#tipoCurso{
    margin-left:-150px;
    width:800px;
}
.meioCima{
     margin-left:60px;
    margin-top:10px;
    font-family: tahoma;
     color:#4F4F4F;
    font-size: 15px;
  
}
.tabelaMat{
    margin-right: 350px;
}
.tabelaMat{
    margin-top:-200px;
    margin-right: 350px;
}
.tabelaMatri{
    font-size:15px;
    width: 500px;
    margin-left:30px;
}
.filtrar{
    width: 30px;
}
.matricula{
    width:700px;
    margin-left:30px;
    background:#FAEBD7;
    font-size: 15px;
}
.matriculaCurso{
    margin-left:423px;
}