<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://186.215.116.63:8082/syscorps</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">jfhmaster123</property>
    <mapping class="br.com.santecorps.model.Aluno"/>
    <mapping class="br.com.santecorps.model.Avalista"/>
    <mapping class="br.com.santecorps.model.Avalistaaluno"/>
    <mapping class="br.com.santecorps.model.Conjuge"/>
    <mapping class="br.com.santecorps.model.Curso"/>
    <mapping class="br.com.santecorps.model.Disciplina"/>
    <mapping class="br.com.santecorps.model.Gradeturma"/>
    <mapping class="br.com.santecorps.model.Localtrabalho"/>
    <mapping class="br.com.santecorps.model.Matricula"/>
    <mapping class="br.com.santecorps.model.Professor"/>
    <mapping class="br.com.santecorps.model.Turma"/>
    <mapping class="br.com.santecorps.model.Unidade"/>
  </session-factory>
</hibernate-configuration>
